{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "useBuiltIns": "entry"
    }],
    "react",
    "stage-0",
    "flow",
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./src/components",
        "config": "./src/config",
        "containers": "./src/containers",
        "actions": "./src/actions",
        "duckredux": "./src/duckredux",
        "styles": "./src/styles",
        "utils": "./src/utils",
        "types": "./src/types",
      },
      "extensions": [".js", ".jsx", ".json", ".json5", ".flow", ".js.flow"],
    }],
    ["transform-imports", {
        "containers": {
          "transform": "containers/${member}",
        },
        "components": {
          "transform": "components/${member}",
        },
        "utils": {
          "transform": "utils/${member}",
        },
    }],
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "flow-react-proptypes",
      ]
    },
    "production": {
      "presets": ["babili"],
    },
  }
}
