.root {
  position: relative;
  border: 1px solid rgb(245, 245, 245);
  background-color: #fff;
  margin-bottom: 30px;

  &_singleExample {
    border: none;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.previewBox {
  width: 100%;
  padding: 1rem;
  overflow: hidden;

  &_withToolbar {
    @media (min-width: 768px) {
      padding-right: calc(50px + 1rem);
    }
  }

  &_withEditor {
    @media (min-width: 768px) {
      padding-right: calc(400px + 50px + 1rem);
    }
  }
}

.tools {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;

  .root:hover > & {
    display: block;
  }
}

.preview {
  margin: 0 auto;
  padding: 15px 24px;
  overflow: auto;
  /* stylelint-disable-next-line plugin/no-low-performance-animation */
  transition: width 0.5s;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  height: 100%;

  &_SizeLg {
    width: 1024px;
  }

  &_SizeMd {
    width: 800px;
  }

  &_SizeSm {
    width: 568px;
  }

  &_SizeXs {
    width: 320px;
  }

  &_BgLight {
    background-color: rgb(255, 255, 255);
  }

  &_BgDark {
    background-color: rgb(35, 35, 35);
  }

  &_BgTransparent {
    background-image: url('./static/transparent.jpg');
    background-repeat: repeat;
  }
}

.toolWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    position: fixed;
    top: 64px;
    bottom: 0;
    right: 0;
    width: auto;
    max-width: 500px;
    flex-direction: row;
  }
}

.toolsWrapper {
  display: flex;
  flex-direction: column;
  background-color: #263238;
  width: 400px;
  border-top: 1px solid rgb(245, 245, 245);

  @media (min-width: 768px) {
    border-top: none;
    border-left: 1px solid rgb(245, 245, 245);
  }

  &:empty {
    width: 0;
    border: none;
  }
}

.editorWrapper {
  width: 100%;
}

.root:hover .isolatedLink {
  opacity: 1;
}
