.root {
  composes: root from '../Sample/Sample.pcss';
  color: red;

  &_small {
    composes: root_small from '../Sample/Sample.pcss';
  }

  &_medium {
    composes: root_medium from '../Sample/Sample.pcss';
    color: green;
  }

  &_big {
    composes: root_big from '../Sample/Sample.pcss';
  }
}
